/******************
* STYLE SCROLLBAR *
*******************/
:root {
  --primary: #1f2937;
  --secondary: white;
  color: var(--secondary);
}

*::-webkit-scrollbar {
  background: var(--primary);
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border: 3px solid var(--primary);
  border-radius: 0.375rem;
}

/********************
* DISABLE SCROLLBAR *
*********************/
/* ::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;  
  scrollbar-width: none;  
} */

/* html {
  margin-left: calc(100vw - 100%);
  margin-right: 0;
}

@media screen and (min-width: 960px) {
  html {
      margin-left: calc(100vw - 100%);
      margin-right: 0;
  }
} */

html {
  width:100vw;
  overflow-x:hidden;
}